kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
  # User Workload Monitoring
  - github.com/pittar-demos/demo-catalog/openshift-user-workload-monitoring/argocd?ref=main
  # OpenShift GitOps Config
  - github.com/pittar-demos/demo-catalog/openshift-gitops-instances/argocd/openshift-gitops?ref=main

patches:
  # Patch project for openshift gitops config app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-config'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: openshift-gitops-config
      namespace: openshift-gitops
  # Patch project for workload monitoring app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-config'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: openshift-user-workload-monitoring
      namespace: openshift-gitops