kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: openshift-gitops

resources:
  # OpenShift Pipelines and Tekton Chains
  - github.com/pittar-demos/demo-catalog/openshift-pipelines-operator/argocd?ref=main
  - github.com/pittar-demos/demo-catalog/tekton-chains/argocd?ref=main
  - ../../../03-cluster-services/openshift-pipelines-tasks
  # GitOps instance for Developers
  - github.com/pittar-demos/demo-catalog/openshift-gitops-instances/argocd/gitops?ref=main
  - ../../../03-cluster-services/developer-gitops
  # Add SonarQube
  - github.com/pittar-demos/demo-catalog/sonarqube/argocd?ref=main
  # Nexus
  - github.com/pittar-demos/demo-catalog/nexus/argocd?ref=main
  # Advanced Cluster Security Operator and Instance
  - github.com/pittar-demos/demo-catalog/advanced-cluster-security-operator/argocd?ref=main
  - github.com/pittar-demos/demo-catalog/advanced-cluster-security-instances/argocd?ref=main
  - ../../../03-cluster-services/rhacs-secrets-generation

patches:
  # Patch project for openshift pipelines app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: openshift-pipelines
      namespace: openshift-gitops
  # Patch project for tekton chains app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: tekton-chains
      namespace: openshift-gitops
  # Patch project for developer gitops app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: developer-gitops
      namespace: openshift-gitops
  # Patch project for Nexus.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: nexus
      namespace: openshift-gitops
  # Patch project for SonarQube.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: sonarqube
      namespace: openshift-gitops
  # Patch project for SonarQube.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: rhacs-operator
      namespace: openshift-gitops
  # Patch project for SonarQube.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: rhacs-central-secured
      namespace: openshift-gitops