kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
  # OpenShift Pipelines and Tekton Chains
  - github.com/pittar-demos/demo-catalog/openshift-pipelines-operator/argocd?ref=main
  - github.com/pittar-demos/demo-catalog/tekton-chains/argocd?ref=main
  # GitOps instance for Developers
  - github.com/pittar-demos/demo-catalog/openshift-gitops-instances/argocd/gitops?ref=main

patches:
  # Patch project for openshift pipelines app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: openshift-pipelines
      namespace: openshift-gitops
  # Patch project for tekton chains app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: tekton-chains
      namespace: openshift-gitops
  # Patch project for developer gitops app.
  - patch: |-
      - op: replace
        path: /spec/project
        value: 'cluster-services'
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: developer-gitops
      namespace: openshift-gitops